h1 The Middleman is watching.

ul
    li.first: a href="/a" A link
    li: a href="/b" B link

ul
    li
        a.home href="/" Home
    li
        a.team href="/about" About
    li
        a.contact href="/contact" Contact